* {
	box-sizing: border-box;
}

html {
	background: #f8f8f8;
	color: #333333;
	font-size: 18px;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	line-height: 1.8;
	font-family: 'Outfit', sans-serif;
}

img,
video {
	width: 100%;
	height: auto;
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
	font-weight: 500;
}

h1 {
	line-height: 1.3;
}

h2 {
	line-height: 1.4;
}

p,
ul:not(li ul),
ol:not(li ol),
pre,
.code-block {
	margin: 20px 0;
}

blockquote {
	background: #f0f0f0;
	border-left: 4px solid #ddd;
	margin: 30px 0;
	padding: 10px 10px;
	padding-left: 30px;

	& p,
	& ul:not(li ul),
	& ol:not(li ol) {
		margin: 14px 0;
	}
}

a {
	color: #333333;
	text-decoration: underline;
	transition: color 0.2s ease;

	&:hover {
		color: #40e0d0;
	}
}

hr {
	border: none;
	height: 1px;
	background: #e0e0e0;
	margin: 40px 0;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

::selection {
	background: rgba(64, 224, 208, 0.3);
}